body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    max-width: 100%;
}
.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input[type="text"] {
    width: 30rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

  

h1{
  color: rgb(100, 61, 136);
   padding: 4rem 0 4rem 0;
   display: flex;
   justify-content: center;
  font-size: 5rem;
}
div{
    display: flex;
    justify-content: center;
}

p{
    width: 40rem;
    padding: 0 0 0 25rem;
    color: rgb(100, 61, 136);
    
   
}


/* From Uiverse.io by cssbuttons-io */ 
button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-left: 10rem;
  margin-top: 6rem;
 }
 
 button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }


#link{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}




/*
body {
  margin: 0;
  height: 100vh;
  overflow: hidden; 
  background: linear-gradient(45deg, 
    #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, 
    #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff, #ff007f,
    #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f
  );
  background-size: 1200% 1200%;
  animation: rainbow-bg 20s ease infinite;
}


@keyframes rainbow-bg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}





  



