body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0600b3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0400a1;
}

h1 {
  color: #0600b3;
  padding: 2rem 0;
  font-size: 3rem;
}

p {
  padding: 2rem 1rem;
}

.boton {
  margin: 0;
}

#link {
  display: flex;
  justify-content: center;
}
